fastapi
uvicorn[standard]
python-dotenv
pymongo
motor
pydantic
requests
pandas
numpy
scikit-learn
scipy
joblib
threadpoolctl
python-multipart
opencv-python-headless
setuptools
wheel
boto3
requests-oauthlib
cryptography
email-validator
pyjwt
passlib
tzdata
pytest
black
isort
flake8
mypy
python-jose
